#gridShowAllFilesContainer {
  display: none;
  width: 100%;
  text-align: center;
  padding: 10px;
}

.tileContainer {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;

  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}

.fileTile {
  margin: 5px;
  padding: 0;
  border: 1px solid #D4D4D4;
  text-align: left;
  height: 170px;
  max-width: 480px;
  max-height: 440px;
  min-width: 110px;
  min-height: 80px;
  overflow: hidden;
  position:relative;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 2px 7px 0 rgba(0, 0, 0, 0.12);
  
  flex: 1 1 200px;
  -webkit-flex: 1 1 200px;
  -ms-flex: 1 1 200px;

  display: flex;
  display: -ms-flexbox;
  flex-direction: column;
  -ms-flex-direction: column;
}

@media (max-width: 768px) {
  .fileTile {
    max-width: 400px;
  }
}

.thumbnailArea {
  /*background-color: #f3f3f3;*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex: 0 1 130px;
  -ms-flex: 0 1 130px;
}

.fileInfoArea {
  background-color: #f3f3f3;
  flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  display: block;
  /*display: -ms-flexbox;*/
  flex-direction: row;
  -ms-flex-direction: row;
}

.ui-selected .fileInfoArea {
  background-color: #1DD19F;
}

.titleInFileTile {
  font-size: 12px;
  line-height: 120%;
  color: #333333;
  z-index: 99;
  padding: 4px;
  padding-left: 0;
  display: inline;
}

.activeRow { background: rgba(29, 209, 159, 0.52) !important; }

.tagsInFileTile {
  z-index: 100;
  max-height: 100px;
  overflow: hidden;
  opacity: 0.6;
  padding: 5px;
}

.tagsInFileTile:hover {
  opacity: 1;
}

.fileTileSelector {
  border-radius: 3px;
  z-index: 101;
  background-color: #515151;
  margin: 5px;
  padding: 2px 4px 2px 4px;
  color: white;
}

.fileTileSelector:hover, .fileTileSelector:active, .fileTileSelector:focus {
  border-radius: 3px;
  background-color: #515151;
  color: white;
  opacity: 1;
}

.fileExtTile {
  border-radius: 0 !important;
  text-align: center;
  padding: 1px;
  color: inherit;
  z-index: 99;
	text-transform:uppercase;
}

.fileExtension {
  padding: 2px;
  float: right;
  color: white;
  font-weight: bold;
  background-color: gray;
}

/*.thumbImg {
  max-width: 100px;
  max-height: 100px;
  vertical-align: text-top;
  border: 0px lightgray solid;
} */

#aboutExtensionModalGrid .modal-body {
  max-height: 500px;
  overflow: auto;
}

.unpadding {
  padding:0;
}

.unstyled{
  list-style-type: none;
}

#resizableThumbnails {
  margin-top:4%;
  margin-left:12%;
}

.zoomSmallest {
  flex: 1 1 130px;
  -webkit-flex: 1 1 130px;
  -ms-flex: 1 1 130px;
  height: 80px;
}

.zoomSmaller {
  flex: 1 1 150px;
  -webkit-flex: 1 1 150px;
  -ms-flex: 1 1 150px;
  height: 100px;
}

.zoomSmall {
  flex: 1 1 170px;
  -webkit-flex: 1 1 170px;
  -ms-flex: 1 1 170px;
  height: 120px;
}

.zoomDefault {
  flex: 1 1 200px;
  -webkit-flex: 1 1 200px;
  -ms-flex: 1 1 200px;
  height: 170px;
}

.zoomLarge {
  flex: 1 1 250px;
  -webkit-flex: 1 1 250px;
  -ms-flex: 1 1 250px;
  height: 200px;
}

.zoomLarger {
  flex: 1 1 340px;
  -webkit-flex: 1 1 340px;
  -ms-flex: 1 1 340px;
  height: 300px;
}

.zoomLargest {
  flex: 1 1 370px;
  -webkit-flex: 1 1 370px;
  -ms-flex: 1 1 370px;
  height: 400px;
}

.transformation-none {
  text-transform: none !important;
}

#perspectiveGridGroupingMenu {
  list-style-type: none;
  padding-left: 0;
}